$font-primary: var(--primary-font);
$width: 100%;

$primary: blue;
$black: #000;
$white: #fff;
$secondary: #FAD164;
$mani: grey;

$color-map: (
	primary: blue,
	white: #fff,
	black: #000,
	secondary: #FAD164,
	mani: grey
);
// $theme-colors: (
//   "mani": $mani,
// );